
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
@model IudexBoost.Models.Classes.Cart
<link rel="stylesheet" href="~/css/rangeslider.css">

<div class="content-section-title" style="font-size:30px;">Shopping Cart</div>
<div class="content-section">
    <div class="content-section-title">Cart Items Detail</div>
    <ul>
            <li class="adobe-product">
                <div class="products" style="width:330px;">
                    <span style="margin-left:133px;">GameName</span>
                </div>
                <div class="products" style="width:100px;">
                    Price
                </div>
                <div class="products">
                    From
                </div>
                <div class="products">
                    To
                </div>
                <span class="products">
                    Amount
                </span>
            </li>
    </ul>

    <ul>
        <!-- List of Games-->
        @foreach(var cartItem in Model.CartItems){
            <li class="adobe-product">
                <div class="products" style="width:330px;">
                    <span>
                        <img src="@cartItem.GameImgUrl" style="margin-right:100px; width:25px;height:25px;border-radius:5px;">
                    </span>
                    <span style="margin-left:10px;">@cartItem.GameName</span>
                </div>
                <div class="products" style="width:100px;">
                    @(cartItem.Price*cartItem.Quantity)$
                </div>
                <div class="products">
                    @cartItem.FromSkillRating
                </div>
                <div class="products">
                    @cartItem.ToSkillRating
                </div>
                <span class="status">
                    <span class="status-circle green"></span>
                    @cartItem.Quantity
                </span>
                <form>
                    <input type="hidden" name="cartItemid" value="@cartItem.CartItemId">
                    <div class="button-wrapper">
                        <button class="content-button status-button open" asp-action="DeleteCartItem" asp-controller="Cart">Delete</button>
                    </div>
                </form>
            </li>
        }
    </ul>
</div>

<div class="content-section">
    <div style="width:100%;display:flex;">
        <div class="content-section-title" style="flex:1;font-size:30px;width:50%;">
            @{
                double totalPrice = 0;
            }
            @foreach (var cartItem in Model.CartItems)
            {
                totalPrice = totalPrice + cartItem.Price * cartItem.Quantity;
            }
            Total Price :   @totalPrice$</div>
        <div class="content-section-title" style="flex:1;font-size:20px;width:50%;margin-left:800px;">
            <div class="container" style="margin-top:20px;margin-left:100px;">
                <button type="submit" style="background-color: transparent;
                                border: none;
                                color: #000;
                                cursor: pointer;">
                    <div class="btn" style="top:25px;display:none;"></div>
                    <div class="btn" style="top:25px;display:none;"></div>
                    <div class="btn" style="top:25px;width:205px;height:50px;"><a asp-action="PaymentProcess" asp-controller="Checkout">Check out!</a></div>
                </button>
            </div>

        </div>
    </div>
</div>


